.dropMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  /*background-color: lightgray;*/
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  padding: 10px;
}

.dropMenu {
  transform: translateX(-25%);
}
