:root {
  --base-color: #6bedc8;
  --default-white: #fcfcfc;
  --default-black: #0f0f0f;
}

.start {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  justify-content: center;
  width: 100px;
  background-color: black;
  border-radius: 0;
  border: none;
  padding: 10px;
  transition: 0.2s ease-in;
  font-size: 16px;
  color: var(--default-white);
  cursor: pointer;
}

.start:hover {
  background-color: var(--base-color);
  color: var(--default-black);
}

.start:hover a {
  color: var(--default-black);
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.serviceDescription {
  font-size: 30px;
  margin-bottom: 40px;
}

.serviceInfo {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
