.card {
    margin: 10px;
    padding : 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.cardHeader {
    display: flex;
    justify-content: space-around;
}

.cardMain {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cardFooter {
    display: flex;
}

.startButton {
    border: none;
    border-radius: 5px;
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}