:root {
    --base-color: #6bedc8;
    --default-white: #fcfcfc;
    --default-black: #0f0f0f;
}

.card {
    width: 250px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.cardHeader {
    display: flex;
    margin-bottom: 20px;
    height: 30px;
    align-items: center;
}

.cardTitle {
    margin-right: auto;
    width: 180px;
}

.cardTitle h4 {
    max-width: 95%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.2;
}

.cardMain {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.descript {
    overflow: hidden;
    max-width: 90%;
    height: 100px;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    margin-bottom: 12px;
}

.lastUpdate {
    font-size: 12px;
}

.cardFooter {
    display: flex;
}

.startButton {
    border: none;
    border-radius: 5px;
    background: gray;
    border: 0;
    color: var(--default-white);
    padding: 10px;
    width: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.startButton:hover {
    background: var(--base-color);
    color: var(--default-black);
}

.dropMenu {
    background-color: var(--base-color);
    transform: translateX(-60%);
    width: 90px;
}

.projectMenu {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.projectMenu:last-child {
    margin-bottom: 0;
}

.projectMenu button {
    font-size: 12px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.ellipsisWrapper {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in;
    font-size: 20px;
    line-height: 30px;
    border: none;
    background: transparent;
}

.ellipsisWrapper:hover {
    color: var(--base-color);
}

.ellipsisWrapper:focus {
    color: var(--base-color);
}

.emptyCard {
    width: 250px;
    height: 300px;
}
